﻿@model HMT.Identity.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security



@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0)
    {
        <div>
            <p>
                There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=313242">this article</a>
                for details on setting up this ASP.NET application to support logging in via external services.
            </p>
        </div>
    }
    else
    {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
        {
            @Html.AntiForgeryToken()

            @*<div class="modal-left-footer">
                <div class="row">
                    <div class="col-6">
                        <button class="vnnsoft btn-facebook btn-block" id="Facebook" name="provider" value="Facebook">
                            <i class="btn-icon  btn-icon-facebook"></i>
                            <span>Facebook</span>
                        </button>
                    </div>

                    <div class="col-6">
                        <button class="vnnsoft btn-default btn-block" href="" id="Google" name="provider" value="Google">
                            <i class="btn-icon  btn-icon-google mr-1"></i>
                            <span>Google</span>
                        </button>
                    </div>
                </div>
            </div>*@

            <div class="auth-block__login-with-segment">
                <div class="auth-block__login-with-segment__title">
                    <span class="auth-block__login-with-segment__title-inner">Hoặc đăng nhập qua</span>
                </div>

                <div class="mz-flex mz-flex-wrap mz--mx-2">
                    <div class="mz-min-w-0 mz-w-1/2 mz-px-2">
                        <button class="vnnsoft auth-block__social-btn -fb" id="Facebook" name="provider" value="Facebook">
                            <i class="fab fa-facebook-square"></i> Facebook
                        </button>
                    </div>
                    <div class="mz-min-w-0 mz-w-1/2 mz-px-2">
                        <button class="vnnsoft auth-block__social-btn -gp" id="Google" name="provider" value="Google">
                            <i class="fab fa-google-plus-square"></i> Google Plus
                        </button>
                    </div>
                </div>
            </div>

                        @*<button name="provider" value="Facebook">
                            <i class="btn-icon  btn-icon-facebook"></i>
                            <span>Facebook</span>
                        </button>
                        <button name="provider" value="Google">
                            <i class="btn-icon  btn-icon-google mr-1"></i>
                            <span>Google</span>
                        </button>*@

        }
    }
}

