﻿@model HMT.Identity.Models.ProfileViewModel

@{ 
    ViewBag.Title = "Thông tin cá nhân"; 
}


<div class="site-content">
    <div class="breadcrumb-outer">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="/">Trang Chủ</a></li>
                <li class="active">Thông tin cá nhân</li>
            </ol>
        </div>
    </div>

    <div class="primary">
        <div class="container">
            <div class="row">

                @*@Html.Action("LeftBox", "Partial")*@

                <div class="col-sm-9">
                    <div class="mem_wrapper">
                        @if (TempData["Message"] != null)
                        {
                            <div class="alert alert-success">
                                Thông tin đã được cập nhật thành công
                            </div>}

                        <h1>Thông tin cá nhân</h1>
                        @using (Html.BeginForm("Index", "Account", FormMethod.Post, new { @id = "profile_form", @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)

                            <div class="input_form">
                                <span class="left">Địa chỉ email:</span>
                                <div class="text">
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "input-txt", @disabled = "disabled" } })
                                </div>
                            </div>
                            <div class="input_form">
                                <span class="left">Họ và tên: <span class="required">*<span id="name" style="color:Red;display:none;">*</span></span></span>
                                <div class="text">
                                    @Html.EditorFor(model => model.FullName, new { @class = "input-txt" })
                                </div>
                            </div>
                            <div class="input_form">
                                <span class="left">Địa chỉ: <span class="required">*<span id="address" style="color:Red;display:none;">*</span></span></span>
                                <div class="text">
                                    @Html.EditorFor(model => model.Address, new { @class = "input-txt" })
                                </div>
                            </div>
                            <div class="input_form">
                                <span class="left">Số điện thoại: <span class="required">*<span id="phone" style="color:Red;display:none;">*</span></span></span>
                                <div class="text">
                                    @Html.EditorFor(model => model.PhoneNumber, new { @class = "input-txt" })
                                </div>
                            </div>
                            <div class="text"><small class="required">* Thông tin bắt buộc</small></div>
                            <button id="myBtn" type="submit" class="btn-main ladda-button" data-style="expand-right">Lưu</button>}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



@section Scripts {
    <script>
        $('body').removeClass("home").addClass("member");


    </script>
}

<style>
    .alert-success {
        font-weight: 600;
    }
</style>