﻿@model HMT.Identity.Models.LoginViewModel
@{
    ViewBag.Title = "Đăng nhập";
    Layout = null;
}
<!DOCTYPE html>
<html moznomarginboxes mozdisallowselectionprint>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge; text/html; charset=utf-8" />
    <title>Đăng nhập</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
</head>
<body class="hideresponsive authpage loginaction">
    <div class="pageload-bar"></div>
    <div id="blanklayout">
        <div class="login">
            <div class="logincontainer logindomain">
                <div class="text-center mb20">
                    <h2 class="dialog-subheading">Đăng nhập vào quản trị</h2>
                </div>
                <div id="login" class="login-container">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin form-signin_admin", @id = "loginform", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        @Html.HiddenFor(m => m.RecaptchaPublicKey, new { @Value = ViewBag.GetPublicKey })

                        <ul class="list-group">
                            <li class="form-group list-group-item">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control username", @id = "UserName", @placeholder = "Email đăng nhập", @type = "email" })
                                @*@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })*@
                                <i class="ico dialog-ico ico-email"></i>
                            </li>
                            <li class="form-group list-group-item">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @id = "Password", @placeholder = "Mật khẩu" })
                                @*@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })*@
                                <i class="ico dialog-ico ico-password"></i>
                            </li>
                            <li class="list-group-item">
                                <button class="btn-login g-recaptcha" data-sitekey="@ViewBag.GetPublicKey" data-callback="OnSubmit" type="submit">Đăng nhập</button>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </div>
        <div class="vertical-helper"></div>
    </div>

    <div class="fb-plugin-chat-container"></div>
    <div class="overlay"></div>
</body>
</html>

<script src='https://www.google.com/recaptcha/api.js'></script>
<script>
    function OnSubmit(token) {
        document.getElementById("loginform").submit();
    }
</script>