﻿@model HMT.Identity.Models.RegisterViewModel
@using HMT.Identity.Models
@{
    ViewBag.Title = "Đăng ký";

    string affCode = ViewBag.AffCode;
}


@section FooterScript
{
}


<section class="auth-block">
    <div class="auth-block__container">
        <div class="auth-block__bner-col">
            <div class="auth-block__bner-col__title">QUYỀN LỢI THÀNH VIÊN</div>
            <ul class="auth-block__info-list">
                <li><i class="svg -svg-check-circle-grd -svg-20px"></i> Mua hàng khắp thế giới cực dễ dàng, nhanh chóng</li>
                <li><i class="svg -svg-check-circle-grd -svg-20px"></i> Theo dõi đơn hàng, hành trình đơn hàng</li>
                <li><i class="svg -svg-check-circle-grd -svg-20px"></i> Nhận nhiều ưu đãi hấp dẫn từ khắp thế giới</li>
            </ul>
        </div>

        <div class="auth-block__form-col">

            <ul class="auth-block__menu-list">
                <li class="is-active">
                    <a href="javascript:;">Tạo tài khoản</a>
                </li>
            </ul>

            <div class="auth-block__form-col__body">

                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "auth-block__form", @id = "auth-block__register-form", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="auth-block__form-group">
                        <div class="auth-block__form-group__icon-col"><i class="fal fa-user"></i></div>
                        <div class="auth-block__form-group__info-col">
                            @Html.TextBoxFor(m => m.FullName, new { @class = "my-form-control", @placeholder = "Vui lòng nhập Họ và tên chính xác" })
                            @Html.ValidationMessageFor(model => model.FullName)
                        </div>
                    </div>

                    <div class="auth-block__form-group">
                        <div class="auth-block__form-group__icon-col"><i class="fal fa-at"></i></div>
                        <div class="auth-block__form-group__info-col">
                            @Html.TextBoxFor(m => m.Email, new { @class = "my-form-control", @autocomplete = "dangky-email", @placeholder = "Địa chỉ email của quý khách" })
                            @Html.ValidationMessageFor(model => model.Email)
                        </div>
                    </div>

                    <div class="auth-block__form-group">
                        <div class="auth-block__form-group__icon-col"><i class="fal fa-mobile-android"></i></div>

                        <div class="auth-block__form-group__info-col">
                            <div class="mz-flex mz-flex-wrap mz--mx-2">
                                <div class="mz-min-w-0 mz-w-1/2 mz-px-2">
                                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "my-form-control", @pattern = "^\\d*$", @placeholder = "Số điện thoại", @autocomplete = "new-phone" })
                                    @Html.ValidationMessageFor(model => model.PhoneNumber)
                                </div>

                                <div class="mz-min-w-0 mz-w-1/2 mz-px-2">
                                    <input class="my-form-control" id="AffCode" name="AffCode" placeholder="Mã giới thiệu" type="text" value="@affCode">
                                    @*@Html.TextBoxFor(m => m.AffCode, new { value = "affCode", @class = "my-form-control", @placeholder = "Mã giới thiệu" })*@
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="auth-block__form-group">
                        <div class="auth-block__form-group__icon-col"><i class="fal fa-key"></i></div>
                        <div class="auth-block__form-group__info-col">
                            @Html.PasswordFor(m => m.Password, new { @class = "my-form-control", @placeholder = "Mật khẩu của quý khách", @type = "password", @autocomplete = "new-password" })
                            @Html.ValidationMessageFor(model => model.Password)
                        </div>
                    </div>

                    <div class="auth-block__form-group">
                        <div class="auth-block__form-group__icon-col">&nbsp;</div>
                        <div class="auth-block__form-group__info-col">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "my-form-control", @type = "password", @autocomplete = "new-confirm_password", @placeholder = "Nhập lại mật khẩu" })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword)
                        </div>
                    </div>

                    <div class="auth-block__form-group">
                        <div class="auth-block__form-group__icon-col"><i class="fal fa-birthday-cake"></i></div>
                        <div class="auth-block__form-group__info-col">
                            <div class="mz-flex mz-flex-wrap mz--mx-2">
                                <div class="mz-min-w-0 mz-w-1/2 mz-px-2">
                                    <input type="text" id="auth-block__register-form__birthdate-input" class="my-form-control js-date-picker flatpickr-input" name="BirthDay" placeholder="Ngày sinh" >
                                </div>

                                <div class="mz-min-w-0 mz-w-1/2 mz-px-2">
                                    <select class="my-form-control" name="gender">
                                        <option value="0">Giới tính</option>
                                        <option value="1">Nam</option>
                                        <option value="2">Nữ</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="auth-block__btn-group">
                        <button type="submit" class="my-btn -btn-pill -btn-grd-bg">Đăng ký</button>
                    </div>
                }


                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })


            </div>
        </div>
    </div>
</section>


<link href="~/Content/site/css/dangky.css" rel="stylesheet" />
