﻿@model HMT.Identity.Models.ChangeEmailViewModel

@{
    ViewBag.Title = "Thông tin cá nhân";
}



<div class="site-content">
    <div class="breadcrumb-outer">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="/">Trang Chủ</a></li>
                <li class="active">Đổi địa chỉ e-mail</li>
            </ol>
        </div>
    </div>

    <div class="primary">
        <div class="container">
            <div class="row">

                @Html.Action("LeftBox", "Partial")

                <div class="col-sm-9">
                    <div class="mem_wrapper">

                        @if (TempData["Status"] != null)
                        {
                            if (TempData["Status"].ToString() == "Success")
                            {
                                <div class="alert alert-success">
                                    @TempData["Message"]
                                </div>
                            }
                            else
                            {
                                <div class="alert alert-danger">
                                    @TempData["Message"]
                                </div>
                            }
                        }


                        <h1>Đổi địa chỉ e-mail</h1>

                        @using (Html.BeginForm("UpdateEmail", "Account", FormMethod.Post, new { @name = "change_password_form", @id = "change_password_form", @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)

                            <div class="input_form">
                                <span class="left">Địa chỉ e-mail: <span class="required">*<span id="email" style="color:Red;display:none;">*</span></span></span>
                                <div class="text">
                                    @Html.EditorFor(model => model.Email, new { @class = "input-txt" })
                                </div>
                            </div>
                            <div class="input_form">
                                <span class="left">Mật khẩu: <span class="required">*<span id="password" style="color:Red;display:none;">*</span></span></span>
                                <div class="text">
                                    @Html.PasswordFor(model => model.Password, new { @class = "input-txt" })
                                </div>
                            </div>
                            <div class="text"><small class="required">* Thông tin bắt buộc</small></div>
                            <button id="myBtn" type="submit" class="btn-main ladda-button" data-style="expand-right">Lưu</button>
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        $('body').removeClass("home").addClass("member");
    </script>
}

<style>
    .alert-danger {
        font-weight: 600;
    }
</style>