﻿
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.Owin;


<div class="col-sm-3">
    <div class="contact-info mem_side">
        <div class="section-title">
            <h3>Tài khoản của bạn</h3>
        </div>
        <div class="section-content">
            <div class="desc">
                <div class="most-viewed col_user">

                    @{
                        string url = HttpContext.Current.Request.Url.AbsolutePath;
                    }

                    <ul class="list_field">

                        @if (url == "/thong-tin-ca-nhan")
                        {
                            <li class="active"><span></span><a href="/thong-tin-ca-nhan">Thông tin cá nhân</a></li>
                        }
                        else
                        {
                            <li><span></span><a href="/thong-tin-ca-nhan">Thông tin cá nhân</a></li>
                        }

                        @if (url == "/doi-dia-chi-email")
                        {
                            <li class="active"><span></span><a href="/doi-dia-chi-email">Đổi địa chỉ e-mail</a></li>
                        }
                        else
                        {
                            <li><span></span><a href="/doi-dia-chi-email">Đổi địa chỉ e-mail</a></li>
                        }


                        @if (url == "/doi-mat-khau")
                        {
                            <li class="active"><span></span><a href="/doi-mat-khau">Đổi mật khẩu</a></li>
                        }
                        else
                        {
                            <li><span></span><a href="/doi-mat-khau">Đổi mật khẩu</a></li>
                        }


                        @if (User.IsInRole("Admin") == true)
                        {
                            <li><span></span><a target="_blank" href="/admin/home">Trang quản trị</a></li>
                        }


                        <li>
                            <span></span>
                            <a href="javascript:;" onclick="LogOff();">Đăng xuất</a>
                        </li>

                    </ul>


                </div>
            </div>
        </div>
    </div>
</div>